.app {
  background: #f3f2ef;
}

.left-and-middle {
  display: flex;
  padding: 15%;
  padding-top: 2%;
}

@media screen and (max-width: 1000px) {
  .left-and-middle {
    padding: 10%;
    padding-top: 2%;
  }
}

@media screen and (max-width: 650px) {
  .left-and-middle {
    padding: 5%;
    flex-direction: column;
  }
}

@media screen and (max-width: 300px) {
  .left-and-middle {
    padding: 2%;
    flex-direction: column;
  }
}
