.middle-image-input {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 56px;
}

.middle-form {
  background-color: white;
  width: 555px;
  border-radius: 10px;
  border: 1px solid rgba(73, 73, 73, 0.055);
  margin-bottom: 5%;
  padding: 20px;
}

.middle-image-input img {
  height: 48px;
  width: 48px;
  border-radius: 50%;
  border: 2px solid white;
  margin-right: 8px;
}
.middle-image-input input {
  padding-left: 16px;
  width: 100%;
  height: 40px;
  border-radius: 100px;
  outline: none;
  border: 1px solid rgba(128, 128, 128, 0.747);
}
.middle-three {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.middle-three label {
  display: flex;
  align-items: center;
}
.middle-three label .photo-icon {
  margin-right: 5px;
}
.middle-three button,
.middle-three label {
  font-weight: bold;
  font-size: 14px;
  color: rgb(95, 94, 94);
  background-color: transparent;
  cursor: pointer;
  border: none;
  padding: 7px 15px;
  border-radius: 5px;
  box-shadow: 0.5px 0.3px 1px rgba(0, 0, 0, 0.162);
}

.middle-three button:hover,
.middle-three label:hover {
  transition: 0.35s 0.01s;
  background-color: #0b66c2;
  color: white;
  transform: scale(1.04);
}

.middle-three .middle-reset-button {
  display: flex;
  align-items: center;
}
.middle-three .middle-reset-button .reset-icon {
  margin-right: 5px;
}

.post-card {
  width: 555px;
  background-color: white;
  margin-bottom: 2.5%;
  border-radius: 10px;
  border: 1px solid rgba(73, 73, 73, 0.055);
}

.post-card .middle-hr {
  width: 90%;
  margin: 0 auto;
  border: 1px solid rgba(157, 157, 157, 0.306);
}

.post-card .first-post-card {
  display: flex;
  align-items: center;
  padding: 12px 16px;
}

.first-post-card img {
  border-radius: 50%;
  border: 2px solid white;
  margin-right: 5px;
}

.first-post-card div h1 {
  font-size: 14px;
  font-weight: bold;
}
.first-post-card div h2 {
  font-size: 12px;
  font-weight: 100;
  color: rgba(0, 0, 0, 0.6);
}

.second-post-card {
  font-size: 14px;
  font-weight: 100;
  color: rgba(0, 0, 0, 0.79);
  padding: 0px 16px 10px 16px;
}
.second-post-card p {
  padding-bottom: 10px;
}
.second-post-card img {
  width: 100%;
  max-height: 500px;
}

.third-post-card {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  padding: 0px 15px;
}
.third-post-card div {
  width: 100%;
  padding: 10px;
  align-items: center;
  display: flex;
  color: rgb(95, 94, 94);
  cursor: pointer;
}
.third-post-card div p {
  padding: 0px 2px;
}
.third-post-card div:hover {
  color: rgb(0, 0, 0);

  transition: 0.35s 0.01s;
  background-color: #ebebeb;
}

@media screen and (max-width: 850px) {
  .middle-form,
  .post-card {
    width: 510px;
  }
}
@media screen and (max-width: 805px) {
  .middle-form,
  .post-card {
    width: 470px;
  }
}
@media screen and (max-width: 750px) {
  .middle-form,
  .post-card {
    width: 435px;
  }
}
@media screen and (max-width: 720px) {
  .middle-form,
  .post-card {
    width: 400px;
  }
}
@media screen and (max-width: 670px) {
  .middle-form,
  .post-card {
    width: 380px;
  }
}

@media screen and (max-width: 650px) {
  .middle-form,
  .post-card {
    width: 100%;
  }
}

@media screen and (max-width: 300px) {
  .middle-form {
    font-size: 10px;
  }

  .first-post-card div h1 {
    font-size: 12px;
  }
  .first-post-card div h2 {
    font-size: 10px;
  }
  .third-post-card {
    font-size: 10px;
  }
  .second-post-card {
    font-size: 12px;
  }
  .middle-three button,
  .middle-three label {
    font-size: 12px;
  }
}
