@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Open+Sans:wght@500&display=swap");
/* color: #939393 */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans";
}

a {
  text-decoration: none;
  color: black;
}

.navbar-container .glass {
  display: none;
}

.navbar-container {
  background-color: rgb(255, 255, 255);
  display: flex;
  margin-top: 10px;
  align-items: center;
  padding: 3px 100px 0px 30px;
  width: 100%;
  top: 0;
  position: sticky;
  z-index: 99;
}
.navbar-container img {
  margin-right: 17px;
  cursor: pointer;
}
.navbar-container input {
  outline: none;
  background-color: #eef3f7;
  height: 32px;
  width: 800px;
  font-size: 18px;
  border-radius: 7px;
  border: none;
  padding-left: 10px;
}

.navbar-container ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin-left: 14%;
}
.navbar-container ul div .icon {
  width: 30px;
  height: 30px;
}
.navbar-container ul div .icon:hover {
  transition: 0.15s ease-in-out;
  transform: scale(1.1);
}
.navbar-container ul div {
  cursor: pointer;
  color: #5e5d5d;
  height: 43px;
  width: 82px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 10%;
}
.navbar-container ul div:hover {
  color: black;
}

@media screen and (max-width: 1200px) {
  .navbar-container ul p {
    display: none;
  }
}

@media screen and (max-width: 850px) {
  .navbar-container img {
    margin-right: 1px;
  }
  .navbar-container {
    margin-top: 10px;
  }
  .navbar-container .glass {
    display: block;
  }

  .navbar-container input {
    display: none;
  }
}
@media screen and (max-width: 620px) {
  .navbar-container ul {
    padding-right: 65px;
    padding-left: 40px;
  }
  .navbar-container {
    padding-left: 15px;
  }
}

@media screen and (max-width: 300px) {
  .navbar-container img {
    margin-right: 10px;
  }
}
