.main-div-main {
}

.profile-main {
  width: 804px;
  position: relative;
  background-color: white;
  margin: 30px 0px 0px 100px;
  padding-bottom: 50px;
  border-radius: 10px;
}
.profile-first .header {
  height: 201px;
  width: 100%;
  border-radius: 10px;
}
.profile-first {
  position: relative;
}
.profile-first aside {
  position: absolute;
  padding: 2px;
  top: 5px;
  right: 5px;
  cursor: pointer;
  font-size: 20px;
  border-radius: 50%;
  color: rgb(255, 255, 255);
  border: 1px solid white;
  background-color: black;
}

.profile-first .profile-pic {
  height: 152px;
  width: 152px;
  border-radius: 50%;
  border: 3px solid white;
  position: absolute;
  top: 100px;
  left: 30px;
}

.profile-second .left {
  display: flex;
  flex-direction: column;
}

.profile-second .left .name {
  gap: 5px;
  display: flex;
  align-items: center;
}
.profile-second .left .name h1 {
  font-weight: 700;
  font-size: 24px;
}
.profile-second .left .name p {
  font-size: 14px;
  font-weight: 400;
}
.profile-second .left h2 {
  font-size: 16px;
  margin-bottom: 10px;
  font-weight: 400;
}
.profile-second .left h3 {
  font-size: 14px;
  font-weight: 400;
  color: rgb(68, 67, 67);
}

.profile-second .right .jobs,
.profile-second .right .school {
  display: flex;
  align-items: center;
  gap: 4px;
}
.profile-second .right .jobs {
  margin-bottom: 10px;
}
.profile-second .right .jobs h2,
.profile-second .right .school h2 {
  font-size: 14px;
  font-weight: 600;
}

.profile-second .right {
  display: flex;
  flex-direction: column;
}

.profile-second {
  padding: 0px 24px;
  padding-top: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.about-me {
  width: 804px;
  background-color: white;
  margin: 20px 0px 0px 100px;
  padding: 20px 24px;
  padding-bottom: 100px;
  border-radius: 10px;
  position: relative;
}

.abt-me-1 h2{
  margin-bottom: 10px;
}

.abt-me-1 span {
  cursor: pointer;
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 20px;
  padding: 14px;
}
.abt-me-1 span:hover {
  background-color: rgba(128, 128, 128, 0.194);
}

.abt-me-2 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  padding-top: 180px;
  padding-left:400px;
}

.abt-me-2 h3 {
  padding: 16px 48px 16px 24px;
  width: 680px;
  position: relative;

  background-color: white;
}
.abt-me-2 .close {
  position: absolute;
  cursor: pointer;
  top: 0;
  right: 0;
  padding: 14px;
  font-size: 20px;
}
.abt-me-2 .close:hover {
  background-color: rgba(128, 128, 128, 0.194);
}
.abt-me-2 form {
  background-color: white;
  width: 680px;
  height: 483px;
  padding: 16px 24px;
}
.abt-me-2 form textarea {
  margin-top: 20px;
  background-color: white;
  width: 632px;
  height: 231px;
  padding: 6px 8px;
  resize: none;
  outline: none;
}
.abt-me-2 form p {
  background-color: white;
  text-align: right;
}
.abt-me-2 form div {
  background-color: white;
  text-align: right;
  padding: 10px;

  cursor: pointer;
}
