.main-div-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-main {
  width: 804px;
  position: relative;
  background-color: white;
  margin-top: 30px;
  margin-bottom: 30px;

  padding-bottom: 50px;
  border-radius: 10px;
}
.profile-first .header {
  height: 201px;
  width: 100%;
  border-radius: 10px;
}
.profile-first {
  position: relative;
}
.profile-first aside {
  position: absolute;
  padding: 2px;
  top: 5px;
  right: 5px;
  cursor: pointer;
  font-size: 20px;
  border-radius: 50%;
  color: rgb(255, 255, 255);
  border: 1px solid white;
  background-color: black;
}

.profile-first .profile-pic {
  height: 152px;
  width: 152px;
  border-radius: 50%;
  border: 3px solid white;
  position: absolute;
  top: 100px;
  left: 30px;
}

.profile-second .left {
  display: flex;
  flex-direction: column;
}

.profile-second .left .name {
  gap: 5px;
  display: flex;
  align-items: center;
}
.profile-second .left .name h1 {
  font-weight: 700;
  font-size: 24px;
}
.profile-second .left .name p {
  font-size: 14px;
  font-weight: 400;
}
.profile-second .left h2 {
  font-size: 16px;
  margin-bottom: 10px;
  font-weight: 400;
}
.profile-second .left h3 {
  font-size: 14px;
  font-weight: 400;
  color: rgb(68, 67, 67);
}

.profile-second .right .jobs,
.profile-second .right .school {
  display: flex;
  align-items: center;
  gap: 4px;
}
.profile-second .right .jobs {
  margin-bottom: 10px;
}
.profile-second .right .jobs h2,
.profile-second .right .school h2 {
  font-size: 14px;
  font-weight: 600;
}

.profile-second .right {
  display: flex;
  flex-direction: column;
}

.profile-second {
  padding: 0px 24px;
  padding-top: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.about-me {
  width: 804px;
  background-color: white;
  margin-top: 20px;
  padding: 20px 24px;
  padding-bottom: 100px;
  border-radius: 10px;
  position: relative;
}

.abt-me-1 p {
  white-space: pre-wrap;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.822);
  padding-top: 20px;
}

.abt-me-1 span {
  cursor: pointer;
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 20px;
  padding: 14px;
}
.abt-me-1 span:hover {
  background-color: rgba(128, 128, 128, 0.194);
}

.abt-me-2 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  padding-top: 180px;
  padding-left: 400px;
}

.abt-me-2 h3 {
  padding: 16px 48px 16px 24px;
  width: 680px;
  position: relative;

  background-color: white;
}
.abt-me-2 .close {
  position: absolute;
  cursor: pointer;
  top: 0;
  right: 0;
  padding: 14px;
  font-size: 20px;
}
.abt-me-2 .close:hover {
  background-color: rgba(128, 128, 128, 0.194);
}
.abt-me-2 form {
  background-color: white;
  width: 680px;
  height: 483px;
  padding: 16px 24px;
}
.abt-me-2 form textarea {
  margin-top: 20px;
  background-color: white;
  width: 632px;
  height: 231px;
  padding: 6px 8px;
  resize: none;
  outline: none;
}
.abt-me-2 form p {
  background-color: white;
  text-align: right;
}
.abt-me-2 form div {
  text-align: right;
  padding: 10px;

  cursor: pointer;
}
.smaller-screen {
  display: none;
}

.abt-me-2 form div .clear-btn {
  font-weight: 600;
  font-size: 14px;
  color: rgb(95, 94, 94);
  background-color: transparent;
  cursor: pointer;
  border: none;
  padding: 7px 15px;
  border-radius: 5px;
  box-shadow: 0.5px 0.3px 1px rgba(0, 0, 0, 0.162);
  margin-right: 20px;
}
.abt-me-2 form div .submit-btn {
  font-weight: 600;
  font-size: 14px;
  color: white;
  background-color: #0b66c2;
  cursor: pointer;
  border: none;
  padding: 7px 15px;
  border-radius: 5px;
  box-shadow: 0.5px 0.3px 1px rgba(0, 0, 0, 0.162);
}

.abt-me-2 form div .clear-btn:hover {
  transition: 0.35s 0.01s;
  background-color: #8d8d8d32;
  color: black;
  transform: scale(1.04);
}
.abt-me-2 form div .submit-btn:hover {
  transition: 0.35s 0.01s;
  color: white;
  transform: scale(1.04);
}

@media screen and (max-width: 1200px) {
  .about-me,
  .profile-main {
    width: 700px;
  }
  .abt-me-2 {
    padding-top: 160px;
    padding-left: 100px;
  }
}

@media screen and (max-width: 800px) {
  .profile-main {
    width: 600px;
    margin: 20px;
  }
  .about-me {
    display: none;
  }
  .smaller-screen {
    display: block;
    background-color: white;
    border-radius: 10px;
    width: 600px;
    padding: 20px;
  }
}
@media screen and (max-width: 660px) {
  .profile-main {
    width: 100%;
    padding: 10px;
  }
  .profile-second {
    flex-direction: column;
  }
  .smaller-screen {
    width: 100%;
    margin: 20px;
    padding: 20px;
  }
}
